<!-- Code adapted from Code Institute Boutique Ado mini project -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Home nav link -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Products nav links -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            </li>
            </ul>
          